<h1>contactUS a nuestro telefono celular</h1>
<h2>3164835878</h2>
<p>Find me in app/views/pages/contactUS.html.erb</p>
<p><%=link_to 'Home', root_path%></p>
<p><%=link_to 'acerca de nosotros', aboutUS_path%></p>